<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome, {{ full_name }}</h2>
<p>Email: {{ email }}</p>
<h3>Your Courses:</h3>
<ul>
    {% for course in courses %}
            <li>
                <a href="/view/{{course.id}}">
                    {{ course.title }} (ID: {{ course.id }})
                </a>
            </li>

{#        <li>{{ course.name }}</li>#}
    {% empty %}
        <li>You are not enrolled in any courses yet.</li>
    {% endfor %}
</ul>

</body>
</html>